@import 'src/variables.scss';

.article-card {
  display: flex;
  align-items: stretch;
}

.article-card__image-content {
  width: 30%;
  margin-right: 15px;
  max-width: 224px;
  min-width: 105px;
  flex-shrink: 0;
}

.article-card__image-container {
  width: 100%;
  position: relative;
  padding-top: calc(900% / 16);
  height: 0;
}

.article-card__image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.article-card__text-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.article-card__title {
  @include font-size-extra-large;
  color: $color-text-primary;
  font-weight: 500;
  text-decoration: none;
}

.article-card__description {
  @include font-size-medium;
  color: $color-text-primary;
}

.article-card__bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
}

.article-card__views-count,
.article-card__author {
  @include font-size-small;
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-weight: 500;
  color: $color-text-secondary;

  svg {
    margin-right: 5px;
  }
}

.article-card__author {
  margin-right: 20px;
  text-decoration: none;
}

.article-card__edit {
  @include font-size-medium;
  background-color: $color-accent;
  border: none;
  color: $color-text-contrast;
  text-transform: uppercase;
  height: 32px;
  width: 132px;
  box-sizing: border-box;
  font-weight: 500;
  border-radius: 16px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
