<div class="article-card">
  <div class="article-card__image-content">
    <div class="article-card__image-container">
      <img class="article-card__image" [src]="previewUrl" [alt]="title" />
    </div>
  </div>
  <div class="article-card__text-content">
    <a [routerLink]="link" class="article-card__title">
      {{ title }}
    </a>

    <div class="article-card__description">
      {{ shortDescription }}
    </div>

    <div class="article-card__bottom">

      <div class="article-card__views-count" *ngIf="isViewsShown">
        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M7.5 5.625C7.12916 5.625 6.76665 5.73497 6.45831 5.94099C6.14996 6.14702 5.90964 6.43986 5.76773 6.78247C5.62581 7.12508 5.58868 7.50208 5.66103 7.86579C5.73337 8.22951 5.91195 8.5636 6.17417 8.82583C6.4364 9.08805 6.77049 9.26663 7.13421 9.33897C7.49792 9.41132 7.87492 9.37419 8.21753 9.23227C8.56014 9.09036 8.85298 8.85004 9.05901 8.54169C9.26503 8.23335 9.375 7.87084 9.375 7.5C9.375 7.00272 9.17746 6.52581 8.82582 6.17417C8.47419 5.82254 7.99728 5.625 7.5 5.625ZM7.5 10.875C6.83249 10.875 6.17997 10.6771 5.62495 10.3062C5.06993 9.93536 4.63735 9.40826 4.38191 8.79156C4.12646 8.17486 4.05962 7.49626 4.18985 6.84157C4.32008 6.18688 4.64151 5.58552 5.11351 5.11351C5.58552 4.64151 6.18688 4.32007 6.84157 4.18985C7.49626 4.05962 8.17486 4.12646 8.79156 4.38191C9.40826 4.63735 9.93536 5.06993 10.3062 5.62495C10.6771 6.17997 10.875 6.83249 10.875 7.5C10.875 8.39511 10.5194 9.25355 9.88649 9.88649C9.25355 10.5194 8.39511 10.875 7.5 10.875ZM7.5 2.25C2.25 2.25 0 7.5 0 7.5C0 7.5 2.25 12.75 7.5 12.75C12.75 12.75 15 7.5 15 7.5C15 7.5 12.75 2.25 7.5 2.25Z"
            fill="#C4C4C4"
          />
        </svg>

        {{ views }}
      </div>

      <a class="article-card__edit" [routerLink]="editLink" *ngIf="isEditable; else author">Редактировать</a>

      <ng-template #author>
        <a class="article-card__author" [routerLink]="userLink">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M7.5 9.375C3.06 9.375 0.75 12 0.75 13.5V14.25H14.25V13.5C14.25 12 11.94 9.375 7.5 9.375Z"
              fill="#8F8F8F"
            />
            <path
              d="M7.5 8.25C9.57107 8.25 11.25 6.57107 11.25 4.5C11.25 2.42893 9.57107 0.75 7.5 0.75C5.42893 0.75 3.75 2.42893 3.75 4.5C3.75 6.57107 5.42893 8.25 7.5 8.25Z"
              fill="#8F8F8F"
            />
          </svg>

          {{ userNickname }}
        </a>
      </ng-template>
    </div>
  </div>
</div>
