<main class="profile-view">
  <h1 class="profile-view__heading">Профиль</h1>
  <section class="profile-view__account-info" *ngIf="currentUser">
    <div class="profile-view__avatar-container">
      <img class="profile-view__avatar" src="assets/missing-image.png" [alt]="currentUser.Nickname" />
    </div>

    <div class="profile-view__account-info-text-container">
      <div class="profile-view__account-info-line">
        <div class="profile-view__account-info-line-label">Никнейм</div>
        <div class="profile-view__account-info-line-value">
          {{ currentUser.Nickname }}
        </div>
      </div>

      <div class="profile-view__account-info-line">
        <div class="profile-view__account-info-line-label"></div>
        <div class="profile-view__account-info-line-value">
        </div>
      </div>

      <div class="profile-view__account-info-line">
        <div class="profile-view__account-info-line-label">Дата регистрации</div>
        <div class="profile-view__account-info-line-value">
          {{ currentUser.RegistrationDate | date: 'longDate':'ru' }}
        </div>
      </div>

      <a class="profile-view__password-change" *ngIf="isSelfProfile" href="#" (click)="onLogout($event)">Выйти из аккаунта</a>
    </div>
  </section>

  <section class="profile-view__articles" *ngIf="currentUserArticles && currentUserArticles.length > 0">
    <div class="profile-view__articles-header">
      <h2 class="profile-view__articles-heading">Статьи ({{ totalArticleCount }})</h2>
    </div>

    <div class="profile-view__articles-row" *ngFor="let articleRow of currentUserArticleRows">
      <app-article-card
        class="profile-view__article-card"
        *ngFor="let article of articleRow"
        [isViewsShown]="false"
        [isEditable]="isSelfProfile"
        [title]="article.Title"
        [shortDescription]="article.ShortDescription"
        [tagId]="article.TagId"
        [previewUrl]="article.AssetLink"
        [id]="article.Id"
        [userId]="article.UserId"
      ></app-article-card>
    </div>
  </section>
</main>
