<main class="search-view">
  <h1 class="search-view__heading">Поиск</h1>
  <app-search [initialValue]="searchInitialValue"></app-search>

  <div class="search-view__results" *ngIf="articles">
    <app-article-card
      class="search-view__result"
      *ngFor="let article of articles"
      [isViewsShown]="false"
      [title]="article.Title"
      [shortDescription]="article.ShortDescription"
      [previewUrl]="article.AssetLink"
      [id]="article.Id"
      [userId]="article.UserId"
    ></app-article-card>

    <div class="search-view__no-results" *ngIf="articles.length === 0">
      К сожалению мы ничего не нашли :(
    </div>
  </div>
</main>
