@import 'src/variables.scss';


.search__form {
  display: flex;
  width: 100%;
}

.search__form-input {
  @include font-size-large;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  padding: 9px;
  padding-left: 35px;
  border: 1px solid $color-border;
  border-radius: 5px;
  background-color: $color-bg-input;

  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.5605 15.4395L13.7528 11.6318C14.5395 10.446 15 9.02625 15 7.5C15 3.3645 11.6355 0 7.5 0C3.3645 0 0 3.3645 0 7.5C0 11.6355 3.3645 15 7.5 15C9.02625 15 10.446 14.5395 11.6318 13.7528L15.4395 17.5605C16.0245 18.1462 16.9755 18.1462 17.5605 17.5605C18.1462 16.9748 18.1462 16.0252 17.5605 15.4395ZM2.25 7.5C2.25 4.605 4.605 2.25 7.5 2.25C10.395 2.25 12.75 4.605 12.75 7.5C12.75 10.395 10.395 12.75 7.5 12.75C4.605 12.75 2.25 10.395 2.25 7.5Z' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
  background-position: left 9px center;
  background-repeat: no-repeat;
}

.search__form-submit {
  flex-shrink: none;
  height: 40px;
  padding: 9px;
  border: none;
  border-radius: 5px;
  background-color: $color-accent;
  color: $color-text-contrast;
  margin-left: 10px;
}