<div class="search">
  <form class="search__form" (submit)="onFormSubmit($event)">
    <input class="search__form-input" type="text" placeholder="Вставить текст" [formControl]="inputControl" />
    <input class="search__form-submit" type="submit" value="Поиск" />
  </form>
</div>
