<main class="article-list-view">
  <h1 class="article-list-view__heading">{{ title }}</h1>
  <div class="article-list-view__results" *ngIf="articles">
    <app-article-card
      class="article-list-view__result"
      *ngFor="let article of articles"
      [isViewsShown]="false"
      [isEditable]="currentCategory === 'my'"
      [title]="article.Title"
      [shortDescription]="article.ShortDescription"
      [previewUrl]="article.AssetLink"
      [id]="article.Id"
      [userId]="article.UserId"
    ></app-article-card>

    <div class="article-list-view__no-results" *ngIf="articles.length === 0">
      На сайте пока что нет статей, но есть котик :)

      <img class="article-list-view__no-results-image" src="assets/no-articles.jpg" alt="No articles" />
    </div>
  </div>
</main>
