<main class="home-view">
  <div class="home-view__illustration-container">
    <img class="home-view__illustration" src="assets/home-illustration.svg" alt="illustration" />
    <h1 class="home-view__illustration-title">Добро пожаловать на TripTalk</h1>
    <div class="home-view__illustration-label">Исследуйте. Делитесь впечатлениями</div>
  </div>
</main>
