<div class="auth-layout">
  <div class="auth-layout__modal">
    <img class="auth-layout__side-image" src="assets/auth-side-image.jpg" alt="auth picture" />
    <div class="auth-layout__main">
      <a class="auth-layout__logo" routerLink="/">
        <img src="assets/logo.svg" alt="Logo" />
      </a>
      <div class="auth-layout__separator"></div>

      <div class="auth-layout__child-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
