<main class="article-edit-view" *ngIf="!isLoading">
  <h1 class="article-edit-view__heading">{{ heading }}</h1>
  <div class="article-edit-view__base-info">
    <div class="article-edit-view__cover-upload">
      <img [src]="articlePictureLink.value || 'assets/missing-image.png'" alt="Article picture" />
    </div>
    <div class="article-edit-view__name-description-wrap">
      <label class="article-edit-view__label" for="article-edit-name">Название</label>
      <input class="article-edit-view__name" id="article-edit-name" type="text" [formControl]="articleTitleControl" />

      <label class="article-edit-view__label" for="article-edit-description">Краткое описание</label>
      <textarea
        class="article-edit-view__description"
        id="article-edit-description"
        type="text"
        [formControl]="articleDescriptionControl"
      ></textarea>

      <label class="article-edit-view__label" for="article-edit-picture-link" type="text">Сслыка на обложку</label>
      <input class="article-edit-view__name" id="article-edit-picture-link" type="text" [formControl]="articlePictureLink" />
    </div>
  </div>

  <div class="article-edit-view__text-wrap">
    <label class="article-edit-view__label" for="article-edit-text">Текст</label>
    <textarea
      class="article-edit-view__text"
      id="article-edit-text"
      type="text"
      [formControl]="articleTextControl"
    ></textarea>
  </div>

  <button class="article-edit-view__submit" [disabled]="isPublishButtonDisabled" (click)="onSubmit()">
    Опубликовать
  </button>

  <div class="article-edit-view__error-mesage" *ngFor="let errorMessage of errorMessages">
    {{ errorMessage }}
  </div>
</main>
