<main class="article-view" *ngIf="article">
  <div class="article-view__header" [style.backgroundImage]="'url(' + article.AssetLink + ')'">
    <h1 class="article-view__title">
      {{ article.Title }}
    </h1>
    <div class="article-view__short-description">
      {{ article.ShortDescription }}
    </div>
  </div>

  <section class="article-view__text">
    {{ article.Text }}
  </section>

  <div class="article-view__separator"></div>

  <div class="article-view__meta">
    <div class="article-view__date">
      {{ article.UploadDate | date: 'longDate' }}
    </div>

    <div class="article-view__views">
      <svg width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.5 6.375C11.8819 6.375 11.2777 6.55828 10.7638 6.90166C10.2499 7.24504 9.8494 7.73309 9.61288 8.30411C9.37635 8.87513 9.31447 9.50347 9.43505 10.1097C9.55562 10.7158 9.85325 11.2727 10.2903 11.7097C10.7273 12.1467 11.2842 12.4444 11.8903 12.565C12.4965 12.6855 13.1249 12.6236 13.6959 12.3871C14.2669 12.1506 14.755 11.7501 15.0983 11.2362C15.4417 10.7223 15.625 10.1181 15.625 9.5C15.625 8.6712 15.2958 7.87634 14.7097 7.29029C14.1237 6.70424 13.3288 6.375 12.5 6.375ZM12.5 15.125C11.3875 15.125 10.2999 14.7951 9.37492 14.177C8.44989 13.5589 7.72892 12.6804 7.30318 11.6526C6.87743 10.6248 6.76604 9.49376 6.98308 8.40262C7.20012 7.31147 7.73585 6.30919 8.52252 5.52252C9.30919 4.73585 10.3115 4.20012 11.4026 3.98308C12.4938 3.76604 13.6248 3.87743 14.6526 4.30318C15.6804 4.72892 16.5589 5.44989 17.177 6.37492C17.7951 7.29994 18.125 8.38748 18.125 9.5C18.125 10.9918 17.5324 12.4226 16.4775 13.4775C15.4226 14.5324 13.9918 15.125 12.5 15.125ZM12.5 0.75C3.75 0.75 0 9.5 0 9.5C0 9.5 3.75 18.25 12.5 18.25C21.25 18.25 25 9.5 25 9.5C25 9.5 21.25 0.75 12.5 0.75Z"
              fill="#C4C4C4" />
      </svg>

      {{ article.Views }}
    </div>

    <div class="article-view__author">
      <a class="article-view__author-name" [routerLink]="'/profile/' + article.UserId">{{ authorNickname }}</a>
      <a class="article-view__author-avatar" [routerLink]="'/profile/' + article.UserId">
        <app-user-avatar [nickname]="authorNickname"></app-user-avatar>
      </a>
    </div>
  </div>

  <div class="article-view__separator"></div>

  <div class="article-view__comments" *ngIf="comments">
    <h2 class="article-view__comments-heading">Комментарии ({{ comments.length }})</h2>

    <form class="article-view__new-comment" (submit)="onCommentAdd($event)">
      <textarea class="article-view__new-comment-input"
                id="comment-input"
                type="text"
                [formControl]="commentInputControl"></textarea>

      <input class="article-view__new-comment-submit"
             type="submit"
             value="Отправить"
             [disabled]="isCommentSubmitButtonDisabled" />
    </form>

    <div class="article-view__comment" *ngFor="let comment of comments">
      <a class="article-view__comment-avatar" [routerLink]="'/profile/' + comment.UserId">
        <app-user-avatar [size]="'large'"
                         [imageUrl]="comment.UserAvatarLink"
                         [nickname]="comment.UserNickname"></app-user-avatar>
      </a>
      <div class="article-view__comment-text">
        <a class="article-view__comment-nickname" [routerLink]="'/profile/' + comment.UserId">
          {{ comment.UserNickname }}
        </a>
        <div class="article-view__comment-message">
          {{ comment.Message }}
        </div>
      </div>
    </div>
  </div>
</main>
